.success-form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    height: 100vh;
    gap: 4rem;
}
.success-form__title{

    font-size: 4rem;
    text-shadow: 6px 6px 7px rgba(21, 221, 149, 0.7);
}
.success-form__caption{

    font-size: 2rem;
    text-shadow: 5px 5px 5px rgba(139, 100, 250, 0.8);
    
}
.success-form__button{

    color: #8b64fa;
    text-shadow: 5px 5px 4px #8b64fa;
    font-family: 'Allison', cursive;
    font-size: 4.5rem;
    background-color: transparent;
    border: none;
    margin-top: 5rem;
    padding: 2rem;
    cursor: pointer;

}