.trabajos{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
    
}
.trabajos__title{

    font-size: 6rem;
    text-shadow: 6px 6px 7px rgba(21, 221, 149, 0.7);
    font-weight: 500;
    margin: 8rem 0;
    margin-left: 7rem;
}
.trabajos__list{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width:768px) {
    
    .trabajos__list{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:480px) {
    
    .trabajos__list{

        display: flex;
        flex-direction: column;
    }
}