.sobre-mi__skills {
    display: flex;
    flex-wrap: wrap;
    margin: 6rem;
    padding: 2rem;
    gap:10rem;
    overflow: auto;
}

@media screen and (max-width:768px) {

    .sobre-mi__skills {
        
        margin: 6rem 0;
        padding: auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        
        max-height: 70rem;
    }
}
@media screen and (max-width:480px) {

    .sobre-mi__skills {

        padding: 1rem auto;

    }
}