@import url("https://fonts.googleapis.com/css2?family=Allison&family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*ANIMATIONS*/
.link-animated:hover {
  animation-name: link-hover;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

@keyframes link-hover {
  30% {
    transform: translate(0.1rem, -0.1rem); }
  100% {
    text-shadow: 1px 1px 7px rgba(21, 221, 149, 0.7);
    transform: translate(0.1rem, -0.1rem); } }
@keyframes fadeIn {
  
      100%{
    
        opacity: 1;
      }
    }  
@keyframes left-fadeIn {
  
  100%{

    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes top-fadeIn {
  
  100%{

    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes right-fadeIn {
  
  100%{

    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes fadeOut {
  
  100%{

    opacity: 0;
  }
}
@keyframes bottom-fadeOut {
  
  100%{

    opacity: 0;
    transform: translateY(4rem);
  }
}
@keyframes right-fadeOut {
  
  100%{

    opacity: 0;
    transform: translateX(4rem);
  }
}
@keyframes background-onFade {

  80%,100%{

    background-color : rgba(21,21,21,1)
  }
  
}
@keyframes background-onNormal {

  0%,20%{

    background-color : rgba(21,21,21,1)
  }
  
  
}
/*NORMALIZE*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  /*GLOBALS*/
  html {
    font-size: 10px;
    font-family: 'Bai Jamjuree', sans-serif;
    user-select: none; }
  
  body {
    background-color: gray;
    background-image: url("./images/background.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
  a {
    text-decoration: none; }

  *:focus{

    outline: none;
    box-shadow: 0 0 5px 1px rgba(21, 221, 149, 0.7);
  }

  @media screen and (max-width:1200px) {
    
    html{

      font-size: 8px;
    }
  }
  @media screen and (max-width:480px) {
    
    html{

      font-size: 6px;
    }
  }
  
